@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
html,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'inter';
}

@tailwind base;
@tailwind components;
@tailwind utilities;