@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
html,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'inter';
}
#heading{
    color: skyblue;
}

.header{
    display: flex;
    padding: 20px 40px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.logo{
    width: 100px;
}

.nav-items{
    margin-left: auto;
}
.nav-items > ul{
    display: flex;
    font-size: 20px;
}

.nav-items > ul > li{
    padding: 10px;
    list-style: none;

}



.search{
    padding: 10px;
}

.res-card{
    padding: 2px;
    background-color: #e6e6e6;
    width: 200px;
    height: 450px;
    border-radius: 5px;
    word-wrap: break-word;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.img-container{
    overflow: hidden;
}

.rest-food{
    width: 100%;
    border-radius: 5px;
    height: 235px;
    transition: 1s ease-in;
    object-fit: cover;
    
}

.rest-food:hover{
    transform: scale(1.2);
}

.rest-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 2rem;
}

.filter-btn{
    margin: 16px;
    cursor: pointer;
}

.body{
    margin: 0px 10rem;
}

.about-card{
    display: flex;
    padding: 2rem;
}

.about-image-container{
    padding: 2rem;
}

.about-image-container img{
    border-radius: 100px;
}